services:
  - type: web
    name: chat-app-backend
    env: node
    buildCommand: npm install && npx prisma generate && npx prisma migrate deploy
    startCommand: npm start
    envVars:
      - key: DATABASE_URL
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: EMAIL_USER
        sync: false
      - key: EMAIL_PASS
        sync: false
      - key: CLOUDINARY_CLOUD_NAME
        value: djt4kti0n
      - key: CLOUDINARY_API_KEY
        value: "296728395761291"
      - key: CLOUDINARY_API_SECRET
        sync: false